body {
    background-color: #423235;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #faf2f2;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.form-label {
    font-weight: bold;
    color: #4b7bec;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.form-control {
    border: 2px solid #4b7bec;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #4b7bec;
    font-size: 1rem;
}
.form-control:hover {
    border-color: #6c757d;
    background-color: #f8f9fa;
}
.form-control:focus {
    border-color: #ff7979;
    box-shadow: 0 0 0 0.2rem rgba(255, 121, 121, 0.5);
}
.btn-primary, .btn-danger {
    background-color: #ff7979;
    border-color: #ff7979;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
}
.btn-primary:hover, .btn-danger:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-primary:focus, .btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 121, 121, 0.5);
}
.container h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #292525;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    margin: 0 15px;
}
.form-select {
    background-color: #fff;
    color: #495057;
    border-radius: 10px;
    border: 2px solid #6c757d;
    transition: border-color 0.3s ease-in-out;
}
.form-select:hover {
    border-color: #6c757d;
}
.form-label i {
    margin-right: 10px;
    color: #6c757d;
    font-size: 1.2rem;
}

.back-button {
    background-color: #c22611;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }